{
  "parser": "babel-eslint",
  "extends": "airbnb",

  "rules": {
    "new-cap": [2, {
      "capIsNewExceptions": [
        "WidthProvider",
        "Seq",
        "OrderedMap",
        "List",
        "Map",
        "Seq",
        "Set",
        "Range",
        "Immutable.Map",
        "Immutable.Set",
        "Immutable.List"
      ]
    }],

    "react/jsx-no-bind": [2, {
      "ignoreRefs": false,
      "allowArrowFunctions": true,
      "allowBind": true
    }],

    "import/no-unresolved": [0],
    "react/prefer-stateless-function": [0],
    "no-restricted-syntax": [0],
    "jsx-a11y/img-has-alt": [0]
  },

  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
